// Colors
// Shades of yellow
$y-1: #ffbb00;
$y-2: #e4a30b;
$y-3: #a66f00;
$y-4: #664400;
$y-5: #222200;

$white: #fff;

// Shades of gray
$g-1: #f7f7f7;
$g-2: #ededed;
$g-3: #dedede;
$g-4: #cccccc;
$g-5: #b2b2b2;
$g-6: #9c9c9c;
$g-7: #717171;
$g-8: #595959;
$g-9: #404040;
$g-10: #2e2e2e;

// Shades of black
$b-1: #000;
$b-2: #111;
$b-3: #332200;

//Typer of Containers
@mixin container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@mixin container-flex {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}


//Typography - Roboto 32 / 24 / 18 / 16
@mixin roboto($size, $weight, $lineHeight) {
  font-family: "Roboto", sans-serif;
  @if $size == 32 {
    font-size: 2rem;
    font-weight: $weight;
    line-height: $lineHeight;
  }
  @else if $size == 24 {
    font-size: 1.5rem;
    font-weight: $weight;
    line-height: $lineHeight;
  } @else if $size == 18 {
    font-size: 1.125rem;
    font-weight: $weight;
    line-height: $lineHeight;
  } @else if $size == 16 {
    font-size: 1rem;
    font-weight: $weight;
    line-height: $lineHeight;
  } @else if $size == 14 {
    font-size: 0.875rem;
    font-weight: $weight;
    line-height: $lineHeight;
  }
  
}

//Typography - Poppins 64 / 48 / 32 / 18 / 16 / 12
@mixin poppins($size, $weight, $lineHeight) {
  font-family: "Poppins", sans-serif;
  @if $size == 64 {
    font-size: 4rem;
    font-weight: $weight;
    line-height: $lineHeight;
  } @else if $size == 48 {
    font-size: 3rem;
    font-weight: $weight;
    line-height: $lineHeight;
  } @else if $size == 32 {
    font-size: 2rem;
    font-weight: $weight;
    line-height: $lineHeight;
  } @else if $size == 18 {
    font-size: 1.125rem;
    font-weight: $weight;
    line-height: $lineHeight;
  } @else if $size == 16 {
    font-size: 1rem;
    font-weight: $weight;
    line-height: $lineHeight;
  } @else if $size == 12 {
    font-size: 0.75rem;
    font-weight: $weight;
    line-height: $lineHeight;
  }
}


//Typography - Merriweather 32
@mixin merriweather($size, $weight, $lineHeight) {
  font-family: "Merriweather", serif;
  @if $size == 32 {
    font-size: 2rem;
    font-weight: $weight;
    line-height: $lineHeight;
  }
}



$webfatorial-colors: (
  'webfatorial-primary'  : #157bad,
  'webfatorial-secondary': #06618c,
  'webfatorial-success'  : #3cc368,
  'webfatorial-warning'  : #f5a600,
  'webfatorial-error'    : #ec5840,
  'webfatorial-gray-1'   : #363636,
  'webfatorial-gray-2'   : #4f4f4f,
  'webfatorial-gray-3'   : #828282,
  'webfatorial-gray-4'   : #bdbdbd,
  'webfatorial-gray-5'   : #e0e0e0,
  'webfatorial-white'    : #fcfcfc,
);


// dpw
// ==========================================================================

$dpw-colors: (
  'dpw-primary'   : #3da6c8,
  'dpw-secondary' : darken(#3da6c8, 12%),
);


// Social Media
// ==========================================================================

$social-media-colors: (
  'facebook'  : #3b5998,
  'twitter'   : #00aced,
  'linkedin'  : #0077b5,
  'youtube'   : #cd201f,
  'instagram' : #e4405f,
  'github'    : #333,
);



// ==========================================================================
// Measures
// ==========================================================================

$global-max-width-raw: 780;
$global-max-width    : rem($global-max-width-raw);

$global-font-size  : rem(18);
$global-line-height: 1.5;
$global-radius     : rem(6);
$global-module-size: rem(30);

// ==========================================================================
// Transitions
// ==========================================================================

$transition-duration         : 305ms;
$transition-duration-complex : 385ms;
$transition-duration-entrance: 235ms;
$transition-duration-exit    : 205ms;
$transition-duration-fast    : 150ms;

$transition-function-ease-in-expo     : cubic-bezier(.95, .05, .795, .035);
$transition-function-ease-out-expo    : cubic-bezier(.19, 1, .22, 1);
$transition-function-ease-in-back     : cubic-bezier(.6, -.28, .735, .045);
$transition-function-ease-out-back    : cubic-bezier(.175, .885, .32, 1.275);
$transition-function-ease-in-out-circ : cubic-bezier(.785, .135, .15, .86);
$transition-function-ease-in-out-quint: cubic-bezier(.86, 0, .07, 1);
$transition-function-elastic          : cubic-bezier(.175, .885, .41, 1.46);



// ==========================================================================
// Others
// ==========================================================================

$z-indexes: (
  'above'   : 500,
  'modal'   : 400,
  'overlay' : 300,
  'dropdown': 200,
  'default' : 1,
  'below'   : -1,
);